<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yue.pushload">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SimpleTestActivity" />
        <activity android:name=".activity.SimpleTest01Activity" />
        <activity android:name=".activity.SimpleTest02Activity" />
        <activity android:name=".activity.SimpleTest03Activity" />
        <activity android:name=".activity.SimpleTest04Activity" />
        <activity android:name=".activity.SimpleTest05Activity" />
        <activity android:name=".activity.SimpleTest07Activity" />
        <activity
            android:name=".activity02.Test01Activity"
            android:theme="@style/NoActionBarTheme" />
        <activity android:name=".activity02.Test02Activity" />
        <activity android:name=".activity02.Test03Activity" />
        <activity android:name=".activity02.Test04Activity" />
        <activity android:name=".activity02.Test05Activity" />
        <activity android:name=".activity02.Test06Activity"></activity>
    </application>

</manifest>